// Holder file for all fonts we use

// Main font
@font-face {
  font-family: 'Pterra';
  src: url('~fonts/pterra.ttf');
}

// Big font
@font-face {
  font-family: 'Blackmoor LET';
  src: url('~fonts/blackmoor.ttf');
}

// Pixel fonts
@font-face {
  font-family: 'Pixelify Sans';
  src: url('~fonts/PixelifySans.tff');
}

@font-face {
  font-family: 'Vaticanus';
  src: url('~fonts/Vaticanus.ttf');
}

// Languages
@font-face {
  font-family: 'Underwater Love';
  src: url('~fonts/languages/deepspeak.ttf');
}

@font-face {
  font-family: 'Dauphin';
  src: url('~fonts/languages/elf.ttf');
}

@font-face {
  font-family: 'Thief by The Riddler';
  src: url('~fonts/languages/orc.ttf');
}

@font-face {
  font-family: 'MasonAlternate';
  src: url('~fonts/languages/dwarf.ttf');
}

@font-face {
  font-family: 'Breitkopf Fraktur';
  src: url('~fonts/languages/oldpsydonic.ttf');
}

@font-face {
  font-family: 'Byzantine';
  src: url('~fonts/languages/zalad.ttf');
}

@font-face {
  font-family: 'Arabolical';
  src: url('~fonts/languages/celestial.ttf');
}

@font-face {
  font-family: 'Nosfer';
  src: url('~fonts/languages/undead.ttf');
}
